    .mCoachProfileWrap {
        width: 100%;
        font-family: 'Courier New', Courier, monospace;
    }

    .eachCoachWrap {
        width: 100%;
        margin-bottom: 5px;        
    }

    .mCoachName {
        background-color: #70a1ff;
        font-size: 2em;
        text-align: center;
        vertical-align: middle;
        padding: 14px auto;
        border: 1px #fff dashed;
        z-index: 10;
    }

    .mCoachCareer {   
        width: 100%;
        background-color: #dfe4ea;
        margin: 11px 0;
        text-align: center;
        border: 1px #fff dashed;
        font-family: 'Russo One', 'Nanum Barun Gothic', sans-serif;
        font-size: 1em;
        display: none;
        z-index: 1;
        overflow: hidden;
    }

    .mCoachCareer img {
        display: block;
        margin: 11px auto;
    }

    .show {
        display: block;
        /* animation: openDown .5s ease-in; */
    }

    /* @keyframes openDown {
        from {
            height: 0;
        }

        to {
            height: 100%;
        }
    }

    @keyframes closeUp {
        from {
            height: 100%;
        }

        to {
            height: 0;
            display: none;
        }
    } */
